.yellow{
    background-color: #FFFF8A;
}
.green{
    background-color: #D8F1A7;
}
.blue{
    background-color: #9CC9E7;
}
.pink{
    background-color: #FBCFC6;
}
div{
    text-align: center;
}
